@charset "utf-8";

.wrap {color:#222;}
header {position:fixed;width:100%;margin:0 auto;background-color:#f5f5f5;border-top:2px solid #000;z-index:999;}
header .header-inner {max-width:960px;margin:0 auto;}
header .header-inner h1 {padding:20px 0;
opacity:0.2;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
filter:alpha(opacity=20);
}
.container {position:relative;max-width:960px;height:1000px;margin:0 auto;padding:100px 0 0 0;}
.container .contents {width:100%;}
.footer {border-top:1px solid #ddd;height:80px;background-color:#f5f5f5;}
.footer .footer-inner {max-width:960px;margin:0 auto;padding:20px 0;}

.a1 {float:left;background-color:#000;width:30%;height:100px;margin:5px;}
.a2 {float:left;background-color:#000;width:30%;height:100px;margin:5px;}
.a3 {float:left;background-color:#000;width:30%;height:100px;margin:5px;}
.a4 {float:left;background-color:#000;width:92%;height:100px;margin:5px;}

@media (max-width: 480px) {
header .header-inner h1 {padding:20px 10px;}
.a1 {float:left;background-color:#ff0000;width:100%;height:100px;margin:5px;}
.a2 {float:left;background-color:#ff0000;width:100%;height:100px;margin:5px;}
.a3 {float:left;background-color:#ff0000;width:100%;height:100px;margin:5px;}
.a4 {float:left;background-color:#ff0000;width:100%;height:100px;margin:5px;}
}

@media (min-width: 481px) and (max-width: 767px) {
header .header-inner h1 {padding:20px 10px;}
.a1 {float:left;background-color:#f5f5f5;width:92%;height:100px;margin:5px;}
.a2 {float:left;background-color:#f5f5f5;width:92%;height:100px;margin:5px;}
.a3 {float:left;background-color:#f5f5f5;width:92%;height:100px;margin:5px;}
.a4 {float:left;background-color:#f5f5f5;width:92%;height:100px;margin:5px;}
}

@media (min-width: 768px) and (max-width: 979px) {
header .header-inner h1 {padding:20px 10px;}
.a1 {float:left;background-color:#00a1de;width:92%;height:100px;margin:5px;}
.a2 {float:left;background-color:#00a1de;width:92%;height:100px;margin:5px;}
.a3 {float:left;background-color:#00a1de;width:92%;height:100px;margin:5px;}
.a4 {float:left;background-color:#00a1de;width:92%;height:100px;margin:5px;}
}

@media (min-width: 1200px) {
.a1 {float:left;background-color:#000;width:30%;height:100px;margin:5px;}
.a2 {float:left;background-color:#000;width:30%;height:100px;margin:5px;}
.a3 {float:left;background-color:#000;width:30%;height:100px;margin:5px;}
.a4 {float:left;background-color:#000;width:92%;height:100px;margin:5px;}
}