@charset "utf-8";

.wrap {margin:50px auto;color:#666;}
.contents {position:relative;}
.logo {position:absolute;right:0;top:0;font-size:50px;
opacity:0.2;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
filter:alpha(opacity=20);
	}
.a1 {float:left;background-color:#000;width:30%;height:100px;margin:5px;}
.a2 {float:left;background-color:#000;width:30%;height:100px;margin:5px;}
.a3 {float:left;background-color:#000;width:30%;height:100px;margin:5px;}
.a4 {float:left;background-color:#000;width:92%;height:100px;margin:5px;}

@media (max-width: 480px) {
.a1 {float:left;background-color:#ff0000;width:100%;height:100px;margin:5px;}
.a2 {float:left;background-color:#ff0000;width:100%;height:100px;margin:5px;}
.a3 {float:left;background-color:#ff0000;width:100%;height:100px;margin:5px;}
.a4 {float:left;background-color:#ff0000;width:100%;height:100px;margin:5px;}
}

@media (min-width: 481px) and (max-width: 767px) {
.a1 {float:left;background-color:#fff;width:92%;height:100px;margin:5px;}
.a2 {float:left;background-color:#fff;width:92%;height:100px;margin:5px;}
.a3 {float:left;background-color:#fff;width:92%;height:100px;margin:5px;}
.a4 {float:left;background-color:#fff;width:92%;height:100px;margin:5px;}
}
@media (min-width: 768px) and (max-width: 979px) {
.a1 {float:left;background-color:#00a1de;width:92%;height:100px;margin:5px;}
.a2 {float:left;background-color:#00a1de;width:92%;height:100px;margin:5px;}
.a3 {float:left;background-color:#00a1de;width:92%;height:100px;margin:5px;}
.a4 {float:left;background-color:#00a1de;width:92%;height:100px;margin:5px;}
}
@media (min-width: 1200px) {
.a1 {float:left;background-color:#000;width:30%;height:100px;margin:5px;}
.a2 {float:left;background-color:#000;width:30%;height:100px;margin:5px;}
.a3 {float:left;background-color:#000;width:30%;height:100px;margin:5px;}
.a4 {float:left;background-color:#000;width:92%;height:100px;margin:5px;}
}