@charset "utf-8";

body, input, textarea, select, button, table {
    font-family:'Malgun Gothic','맑은고딕', sans-serif;
    font-size: 100%}
body, div, dl, dt, dd, ul, ol, menu, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p {
    margin: 0;
    padding: 0;
}
article, aside, hgroup, header, footer, figure, figcaption, nav, section, time, mark, canvas, video, audio, details, summary {
    display: block;
}

body {background-color:#fafafa;color:#000;font-size:2em;}

dl, dt, dd, ul, ol, menu, li {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0;
    padding: 0;
}
img {
    vertical-align: top;
}
address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: normal;
}
caption, th {
    text-align: left;
}
q:before, q:after {
    content: ''}
form {
    margin: 0;
}
a {
    text-decoration: none;
}
.clearFix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.clearFix {
    display: inline-block;
}
* html .clearFix {
    height: 1%}
.clearFix {
    display: block;
}
caption, legend, .skip, hr {
    display: none;
}
textarea {
    resize: vertical;
}