@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato);
body, input, textarea, select, button, table, h1,h2,h3,h4,th,td {
    font-family:Avenir,'Lato','Malgun Gothic','맑은고딕', sans-serif;
    font-size: 1em;
    -webkit-text-size-adjust:none;
}
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,a,button,select{
    margin:0;
    padding:0;
    font-weight:normal
}
article, aside, hgroup, header, footer, figure, figcaption, nav, section, time, mark, canvas, video, audio, details, summary {
    display: block;
}
body {background-color:#fff;}

dl, dt, dd, ul, ol, menu, li {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0;
    padding: 0;
}
img {
    vertical-align: top;
}
address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: normal;
}
caption, th {
    text-align: left;
}
q:before, q:after {
    content: ''}
form {
    margin: 0;
}
a, a:active, a:visited {
    color:#666;
    text-decoration: none;
}
a:hover {color:#666;text-decoration:none;}
.clearFix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.clearFix {
    display: inline-block;
}
* html .clearFix {
    height: 1%}
.clearFix {
    display: block;
}
caption, legend, .skip, hr {
    display: none;
}
textarea {
    resize: vertical;
}